:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #ffffff;
  --vt-c-white-mute: #ffffff;
  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;
  --vt-c-indigo: #2c3e50;
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);
  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-dark-1: var(--vt-c-white);
}

:root {
  --color-background: #f4f7ff; 
  --color-card-background: var(--vt-c-white);
  --color-text-dark: var(--vt-c-black);
  --color-text-medium: #666666;
  --color-text-light: #999999;
  --color-primary-blue: #007bff;
  --color-primary-blue-dark: #0056b3;
  --color-success-green: #5cb85c;
  --color-warning-orange: #f0ad4e;
  --color-danger-red: #d9534f;
  --border-radius-base: 8px; 
  --box-shadow-base: 0 4px 12px rgba(0, 0, 0, 0.08); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #f4f7ff;
    --color-text-dark: #000000;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-weight: normal;
}


html {
  height: 100%;
}

body {
  min-height: 100vh; 
  color: var(--color-text-dark);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
}